In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import requests
from pathlib import Path
from collections import Counter
from sqlalchemy import create_engine

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.preprocessing import StandardScaler

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\szieg\anaconda3\envs\mlev\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

### Connect to Database

In [5]:
# Make Postgres connection
postgres_str = "postgresql://postgres:Ossinc09!@localhost:5432/GainesvilleCrime"
cnx = create_engine(postgres_str)

In [6]:
#preview first 5 row from Callsforservice table
df=pd.read_sql_query('''SELECT * FROM callsforservice;''',cnx)
df.head(50)

,id,cfs,offensedate,offensehour,offensedow,cfsaddress,cfslatitude,cfslongitude
0,221009134,Assist Other Agency,2021-07-02,1,Friday,300 BLK SW WILLISTON RD,29.620543,-82.328759
1,221009267,Domestic Aggravated Battery,2021-07-04,21,Sunday,100 BLK NW 39TH AVE,29.688534,-82.326069
2,221009201,Assist Other Agency,2021-07-03,12,Saturday,200 BLK SE 16TH AVE,29.634039,-82.326408
3,121009277,Assist Citizen,2021-07-05,3,Monday,500 BLK NW 8TH AVE,29.659423,-82.329994
4,221009177,Warrant Arrest,2021-07-02,18,Friday,1500 BLK N MAIN ST,29.665770,-82.324505
5,221009228,Domestic Simple Battery,2021-07-03,22,Saturday,6100 BLK NW 26TH ST,29.710529,-82.360868
6,221008997,Trespass Warning,2021-06-29,11,Tuesday,2900 BLK SW 42ND ST,29.627061,-82.385022
7,221009236,Dating Violence Simple Battery,2021-07-04,4,Sunday,2600 BLK SW 31ST PL,29.622669,-82.361021
8,221009009,Lost/stolen Vehicle Tag / Decal,2021-06-29,10,Tuesday,1000 BLK NW 21ST AVE,29.672209,-82.335002
9,221009108,Domestic Disturbance,2021-07-01,13,Thursday,2400 BLK NW 47TH LN,29.697913,-82.356664
10,221009272,Burglary to Residence,2021-07-05,1,Monday,1700 BLK NW 16TH AVE,29.666766,-82.344429
11,621014764,Lost/stolen Vehicle Tag / Decal,2021-07-01,0,Thursday,4100 BLK N MAIN ST,29.691347,-82.319377
12,221009081,Dcf Investigations,2021-06-28,0,Monday,700 BLK NE 23RD AVE,29.673867,-82.317390
13,221009039,Fire,2021-06-30,2,Wednesday,2200 BLK SW 34TH ST,29.632281,-82.372622
14,221009066,Theft Grand - Retail,2021-06-30,15,Wednesday,4300 BLK NW 13TH ST,29.693633,-82.339094
15,221009040,Driving Under the Influence,2021-06-30,2,Wednesday,3900 BLK SW 20TH AVE,29.633997,-82.381483
16,221009097,Death Investigation,2021-07-01,10,Thursday,1100 BLK SE 19TH ST,29.641265,-82.300260
17,221009024,Domestic Simple Battery,2021-06-29,20,Tuesday,2100 BLK NW 55TH BLVD,29.705036,-82.352454
18,221009222,Robbery (armed),2021-06-30,22,Wednesday,1200 BLK NW 3RD AVE,29.653883,-82.337108
19,221009242,Theft Petit - Other,2021-06-01,9,Tuesday,1300 BLK NE 8TH ST,29.663473,-82.315907
20,621014768,Lost Property,2021-07-01,0,Thursday,3100 BLK CLARK BUTLER BLVD,29.625261,-82.383590
21,221009033,Weapons Violation (possessing/concealing),2021-06-29,22,Tuesday,100 BLK SW 62ND ST,29.651744,-82.408886
22,221009087,Drug Poss. of Controlled Substance,2021-07-01,4,Thursday,2000 BLK NE 3RD AVE,29.653777,-82.298524
23,221009186,Weapons Violation (possessing/concealing),2021-07-02,22,Friday,1600 BLK N MAIN ST,29.667016,-82.324488
24,621014762,Damage to Property,2021-06-28,0,Monday,1500 BLK NE 16TH AVE,29.666499,-82.305032
25,221009110,Drug Poss. of Controlled Substance,2021-07-01,13,Thursday,400 BLK S MAIN ST,29.648354,-82.324985
26,221009154,Robbery (strong Arm),2021-07-02,10,Friday,400 BLK S MAIN ST,29.648354,-82.324985
27,221009046,Theft Petit - Retail,2021-06-30,7,Wednesday,2900 BLK SW 42ND ST,29.627061,-82.385022
28,621014777,Damage to Property,2021-07-03,0,Saturday,BLK,NaN,NaN
29,221009211,Suspicious Incident,2021-07-03,16,Saturday,3700 BLK SW 28TH TER,29.616766,-82.365374
30,221009237,Information,2021-07-03,16,Saturday,3000 BLK SW ARCHER RD,29.629556,-82.367683
31,221009166,Death Investigation,2021-06-29,18,Tuesday,900 BLK SW DEPOT AVE,29.643082,-82.333630
32,221009287,Theft Petit - Other,2021-07-05,11,Monday,3000 BLK NE 28TH DR,29.679854,-82.288972
33,221009118,Domestic Violence Injunction Violation,2021-06-26,18,Saturday,6300 BLK W NEWBERRY RD,29.659683,-82.409945
34,221009259,Theft Petit - Other,2021-07-04,16,Sunday,1000 BLK E UNIVERSITY AVE,29.651950,-82.313325
35,221009178,Theft Petit - Retail,2021-06-23,21,Wednesday,2900 BLK SW 42ND ST,29.627061,-82.385022
36,221009260,Stolen Vehicle (auto),2021-07-01,13,Thursday,2400 BLK NW 55TH BLVD,29.706727,-82.357715
37,221009230,Trespass,2021-07-03,23,Saturday,1700 BLK NW 38TH DR,29.668468,-82.382377
38,221008979,Burglary to Conveyance,2021-06-28,12,Monday,3100 BLK SW 35TH BLVD,29.625041,-82.378149
39,221009143,Warrant Arrest,2021-07-02,8,Friday,3700 BLK NW 13TH ST,29.686579,-82.339097
40,221008998,Trespass Warning,2021-06-29,10,Tuesday,2200 BLK NW 13TH ST,29.673111,-82.339142
41,221009117,Assist Other Agency,2021-07-01,17,Thursday,1500 BLK SW ARCHER RD,29.639782,-82.341761
42,221009232,Loitering and Prowling,2021-07-04,22,Sunday,1200 BLK SW 11TH AVE,29.640188,-82.338182
43,221009167,Theft Petit - Other,2021-06-30,12,Wednesday,200 BLK SW 62ND BLVD,29.650892,-82.408596
44,221009204,Theft Grand - Retail,2021-07-03,12,Saturday,6400 BLK W NEWBERRY RD,29.659701,-82.411853
45,221009045,Theft Petit - Retail,2021-06-29,18,Tuesday,2900 BLK SW 42ND ST,29.627061,-82.385022
46,221009075,Domestic Simple Battery,2021-06-30,16,Wednesday,2300 BLK SW 34TH PL,29.621128,-82.355859
47,621014773,Theft Petit - Other,2021-07-01,0,Thursday,4200 BLK NW 6TH ST,29.692189,-82.332943
48,221009136,Burglary to Conveyance,2021-07-02,2,Friday,1000 BLK E UNIVERSITY AVE,29.651950,-82.313325
49,221009035,Domestic Simple Battery,2021-06-29,23,Tuesday,2700 BLK SW 35TH PL,29.619728,-82.362748

### Retrieve all data from all tables witin PgAdmin

In [7]:
df=pd.read_sql_query('''
select  moonphase, cfs,count(cfs)  

from callsforservice
join moonphase
on offensedate = date
where moonphase in ('New Moon', 'Full Moon')
group by moonphase, cfs;''',cnx)
                    




# currently stuck on dropping NULL values
df.head(50)

    moonphase                                                cfs  count
0   Full Moon                                   Assault (simple)     22
1   Full Moon                           Battery (police Officer)     19
2    New Moon                                 Disorderly Conduct     12
3   Full Moon                                  Fraud (all Other)    148
4    New Moon                               Theft Petit - Retail    911
5    New Moon                            Disorderly Intoxication      2
6    New Moon                              Making False 911 Call      4
7    New Moon                                     Verbal Threats      3
8   Full Moon                           Harassing/ Obscene Calls     79
9    New Moon                                    Robbery (armed)     63
10   New Moon                              Theft Petit - Trailer      1
11   New Moon             Stolen Property (selling/distributing)      3
12  Full Moon                  Violation of Permanent Injunction      6
13   New Moon                           City Ordinance Violation      4
14  Full Moon                        Domestic Aggravated Assualt     35
15  Full Moon                               Robbery (strong Arm)     27
16  Full Moon                              Burglary to Residence    300
17   New Moon               Theft Petit - From Vehicle/not Parts     51
18   New Moon                                  Indecent Exposure     13
19   New Moon                              Theft Grand - Trailer     15
20  Full Moon                                     Missing Person     61
21  Full Moon                Dating Violence Aggravated Stalking      3
22  Full Moon                           Drug Violation (selling)     24
23  Full Moon                    Dating Violence Simple Stalking      3
24  Full Moon  Battery on Detention or Commitment Facility St...      4
25   New Moon                        Theft Petit - From Building    160
26  Full Moon                     Juvenile Problem / Disturbance    119
27  Full Moon            Driving While License Suspended/revoked     21
28   New Moon                Battery on a Person 65 Yoa or Older     33
29  Full Moon                                Death Investigation    143
30   New Moon            Driving While License Suspended/revoked     32
31  Full Moon             Stolen Property (selling/distributing)      3
32  Full Moon                                  Stalking (simple)     24
33   New Moon                      Disruption of School Function      3
34   New Moon                                  False Info to Leo     11
35   New Moon                                   Money Laundering      2
36   New Moon                             Violation of Probation      2
37   New Moon                                  Weapons Violation     28
38  Full Moon                                     Cyber Stalking     20
39  Full Moon                 Theft Petit - From Vending Machine      2
40  Full Moon                              Making False 911 Call      4
41  Full Moon          Weapons Violation (possessing/concealing)     36
42  Full Moon               Dating Violence Injunction Violation      1
43  Full Moon            Domestic Felony Battery Repeat Offender     17
44  Full Moon                            Fraud (worthless Check)     11
45   New Moon                    Lost/stolen Vehicle Tag / Decal    196
46  Full Moon                             Loitering and Prowling     18
47   New Moon                            Tamper W/victim Witness      1
48   New Moon                 Dating Violence Aggravated Battery      8
49  Full Moon                                        Disturbance    300

In [8]:
# Change name of column "offenseDate" to date
df.rename(columns={'offensedate': 'date'}, inplace=True)
df.head()

   moonphase                       cfs  count
0  Full Moon          Assault (simple)     22
1  Full Moon  Battery (police Officer)     19
2   New Moon        Disorderly Conduct     12
3  Full Moon         Fraud (all Other)    148
4   New Moon      Theft Petit - Retail    911

## Filter rows by Classification for  "persons" and "property"

## Use label Encoder to convert strings to floats

In [11]:
#convert cfs_class,cfs,offensedow, cfs_type column, moonphase column (fullmoon=1 newmoon=2 third quarter=3 first quater=0) 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['moonphase'] = le.fit_transform(df['moonphase'])

df['cfs'] = le.fit_transform(df['cfs'])

df.head(50)

    moonphase  cfs  count
0           0    7     22
1           0   13     19
2           1   51     12
3           0   89    148
4           1  167    911
5           1   52      2
6           1  108      4
7           1  178      3
8           0   95     79
9           1  128     63
10          1  168      1
11          1  143      3
12          0  179      6
13          1   28      4
14          0   56     35
15          0  131     27
16          0   25    300
17          1  163     51
18          1  101     13
19          1  159     15
20          0  109     61
21          0   41      3
22          0   72     24
23          0   45      3
24          0   18      4
25          1  161    160
26          0  104    119
27          0   66     21
28          1   20     33
29          0   47    143
30          1   66     32
31          0  143      3
32          0  139     24
33          1   53      3
34          1   82     11
35          1  111      2
36          1  181      2
37          1  185     28
38          0   35     20
39          0  164      2
40          0  108      4
41          0  186     36
42          0   43      1
43          0   61     17
44          0   94     11
45          1  107    196
46          0  105     18
47          1  149      1
48          1   39      8
49          0   54    300

## Define Features and Target

In [13]:
X= df.drop(columns= "moonphase")

X.describe()

              cfs       count
count  355.000000  355.000000
mean    93.400000   75.653521
std     54.577452  140.237796
min      0.000000    1.000000
25%     47.000000    4.000000
50%     93.000000   16.000000
75%    140.500000   75.000000
max    187.000000  911.000000

In [15]:
# Define the target set.
y= df["moonphase"]
y.value_counts()

1    178
0    177
Name: moonphase, dtype: int64

## Train and Test Dataset

In [16]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
X_train.shape

(266, 2)

## Scale instance

In [17]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
X = features.reshape(features.shape[1:])

AttributeError: 'DataFrame' object has no attribute 'reshape'

In [19]:
X = X.transpose()

In [20]:
# You can modify test_size to account for 30% testing/70% training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

ValueError: Found input variables with inconsistent numbers of samples: [2, 355]

In [ ]:
# Resample the training data with the RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

In [ ]:
moonphases_df

In [ ]:
new_moonphasesdf = moonphases_df[['datetime','moonPhases']]
new_moonphasesdf

In [ ]:
new_moonphasesdf.rename(columns={'datetime': 'Date'}, inplace=True)
new_moonphasesdf.head()

In [ ]:
new_moonphasesdf['Date'] = pd.to_datetime(new_moonphasesdf.Date, format='%Y-%m-%d')

In [ ]:
new_moonphasesdf['Date'] = pd.to_datetime(new_moonphasesdf['Date']).dt.date

In [ ]:
new_moonphasesdf

In [ ]:
df.columns

In [ ]:
#Find out unique names of CFS, CFS_type, and moonPhase

In [ ]:
df.Classification.unique()

In [ ]:
df.CFS.unique()

In [ ]:
df.CFS_Type.unique()

In [ ]:
df.moonPhase.unique()

In [ ]:
# Assign the uncessary columns to variable and drop

unused_cols = ['CFS','reportDate', 'offenseHour','reportHour','reportDOW','city','state','address','longitude','latitude','day','location','date ','month','year', 'moonPhase']

df = df.drop(unused_cols, axis = 1)

df.head(50)

In [ ]:
# Gather CFS_Type and moonPhase columns for get dummies

convert_cols = df["CFS_Type"]
convert_cols

In [ ]:
# Convert CFS_Type and moonPhase with get dummies in dataframe

new_columns_df = pd.get_dummies(df['CFS_Type'])
new_columns_df

In [ ]:
# Go back and take out the original CFS_Type columns and moonPhase  in the original df

df = df.drop(['CFS_Type'], axis = 1)

In [ ]:
new_df = pd.merge(df,new_columns_df, left_index=True, right_index = True )
new_df

In [ ]:
# Join the new_moonphasesdf to df on datetime 

dfcomplete = pd.merge(new_df,new_moonphasesdf, left_on = "Date", right_on = 'Date')
dfcomplete.head

In [ ]:
y = pd.get_dummies(new_df['Classification'])


X = dfcomplete[['Battery', 'Quality of Life', 'Theft', 'Other', 'Alcohol',
       'Death Inv/Homicide', 'Gov Reg Vio', 'Drugs', 'Fraud', 'Assault',
       'Suicide','moonPhases']]

In [ ]:
y.value_counts()

In [ ]:
X.describe()

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
# You can modify test_size to account for 30% testing/70% training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .5)

In [ ]:
# Resample the training data with the RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
# https://scikit-learn.org/stable/modules/multiclass.html

In [ ]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
#Confusion Matrix

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))
print(cm)

In [ ]:
# Print the  classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

In [ ]:
# MODULE DIRECTIONS FOR CONFUSION MATRIX

# Display the confusion matrix
#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(
    #cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
#cm_df

In [ ]:
# We need data with every single moon phase attached to each event to have a better data set. The outputs from the classification report tell you that because its getting 1.00 precision on 3/4 data points because theres only 8 moon phases for 40k events.