In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import requests
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
# Load the data
df = pd.read_csv('TransformGainesville_CrimesALL.csv', index_col = 0)

df.head()

,ID,CFS,CFS_Type,Classification,offenseDate,offenseHour,offenseDOW,reportDate,reportHour,reportDOW,...,longitude,location,date,month,day,year,fullDate,DOW,time,moonPhase
0,221009267,Domestic Aggravated Battery,Battery,Person,2021-07-04 21:24:00,21,Sunday,7/4/2021 22:37,22,Sunday,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,221009608,Domestic Aggravated Battery,Battery,Person,2021-07-11 22:54:00,22,Sunday,7/11/2021 22:55,22,Sunday,...,-82.387148,POINT (-82.387148 29.632687000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,221009391,Domestic Aggravated Battery,Battery,Person,2021-07-07 19:12:00,19,Wednesday,7/7/2021 19:13,19,Wednesday,...,-82.299390,POINT (-82.29939 29.640249),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,221009308,Domestic Aggravated Battery,Battery,Person,2021-07-06 07:26:00,7,Tuesday,7/6/2021 7:27,7,Tuesday,...,-82.398242,POINT (-82.398242 29.641625),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,221011388,Domestic Aggravated Battery,Battery,Person,2021-08-16 17:25:00,17,Monday,8/16/2021 17:26,17,Monday,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Change name of column "offenseDate" to date
df.rename(columns={'offenseDate': 'Date'}, inplace=True)
df.head()

,ID,CFS,CFS_Type,Classification,Date,offenseHour,offenseDOW,reportDate,reportHour,reportDOW,...,longitude,location,date,month,day,year,fullDate,DOW,time,moonPhase
0,221009267,Domestic Aggravated Battery,Battery,Person,2021-07-04 21:24:00,21,Sunday,7/4/2021 22:37,22,Sunday,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,221009608,Domestic Aggravated Battery,Battery,Person,2021-07-11 22:54:00,22,Sunday,7/11/2021 22:55,22,Sunday,...,-82.387148,POINT (-82.387148 29.632687000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,221009391,Domestic Aggravated Battery,Battery,Person,2021-07-07 19:12:00,19,Wednesday,7/7/2021 19:13,19,Wednesday,...,-82.299390,POINT (-82.29939 29.640249),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,221009308,Domestic Aggravated Battery,Battery,Person,2021-07-06 07:26:00,7,Tuesday,7/6/2021 7:27,7,Tuesday,...,-82.398242,POINT (-82.398242 29.641625),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,221011388,Domestic Aggravated Battery,Battery,Person,2021-08-16 17:25:00,17,Monday,8/16/2021 17:26,17,Monday,...,-82.326069,POINT (-82.326069 29.688534000000004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['Date'] = pd.to_datetime(df.Date, format='%Y-%m-%d')

In [7]:
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [8]:
url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/Gainesville,FL/2018-01-01/2021-12-31?unitGroup=us&key=JVFDPCT4LWWPVKADN783XGRVA&include=days&elements=datetime,moonphase'

In [9]:
r = requests.get(url)

In [10]:
json = r.json()
json

{'queryCost': 1461,
 'latitude': 29.652,
 'longitude': -82.3228,
 'resolvedAddress': 'Gainesville, FL, United States',
 'address': 'Gainesville,FL',
 'timezone': 'America/New_York',
 'tzoffset': -5.0,
 'days': [{'datetime': '2018-01-01', 'moonphase': 0.5},
  {'datetime': '2018-01-02', 'moonphase': 0.5},
  {'datetime': '2018-01-03', 'moonphase': 0.52},
  {'datetime': '2018-01-04', 'moonphase': 0.54},
  {'datetime': '2018-01-05', 'moonphase': 0.58},
  {'datetime': '2018-01-06', 'moonphase': 0.63},
  {'datetime': '2018-01-07', 'moonphase': 0.68},
  {'datetime': '2018-01-08', 'moonphase': 0.73},
  {'datetime': '2018-01-09', 'moonphase': 0.78},
  {'datetime': '2018-01-10', 'moonphase': 0.83},
  {'datetime': '2018-01-11', 'moonphase': 0.88},
  {'datetime': '2018-01-12', 'moonphase': 0.92},
  {'datetime': '2018-01-13', 'moonphase': 0.95},
  {'datetime': '2018-01-14', 'moonphase': 0.98},
  {'datetime': '2018-01-15', 'moonphase': 0.99},
  {'datetime': '2018-01-16', 'moonphase': 1.0},
  {'datetime': '2018-01-17', 'moonphase': 0.0},
  {'datetime': '2018-01-18', 'moonphase': 0.01},
  {'datetime': '2018-01-19', 'moonphase': 0.03},
  {'datetime': '2018-01-20', 'moonphase': 0.05},
  {'datetime': '2018-01-21', 'moonphase': 0.09},
  {'datetime': '2018-01-22', 'moonphase': 0.13},
  {'datetime': '2018-01-23', 'moonphase': 0.18},
  {'datetime': '2018-01-24', 'moonphase': 0.23},
  {'datetime': '2018-01-25', 'moonphase': 0.28},
  {'datetime': '2018-01-26', 'moonphase': 0.34},
  {'datetime': '2018-01-27', 'moonphase': 0.39},
  {'datetime': '2018-01-28', 'moonphase': 0.43},
  {'datetime': '2018-01-29', 'moonphase': 0.47},
  {'datetime': '2018-01-30', 'moonphase': 0.49},
  {'datetime': '2018-01-31', 'moonphase': 0.5},
  {'datetime': '2018-02-01', 'moonphase': 0.51},
  {'datetime': '2018-02-02', 'moonphase': 0.53},
  {'datetime': '2018-02-03', 'moonphase': 0.56},
  {'datetime': '2018-02-04', 'moonphase': 0.6},
  {'datetime': '2018-02-05', 'moonphase': 0.65},
  {'datetime': '2018-02-06', 'moonphase': 0.7},
  {'datetime': '2018-02-07', 'moonphase': 0.75},
  {'datetime': '2018-02-08', 'moonphase': 0.8},
  {'datetime': '2018-02-09', 'moonphase': 0.84},
  {'datetime': '2018-02-10', 'moonphase': 0.88},
  {'datetime': '2018-02-11', 'moonphase': 0.92},
  {'datetime': '2018-02-12', 'moonphase': 0.95},
  {'datetime': '2018-02-13', 'moonphase': 0.98},
  {'datetime': '2018-02-14', 'moonphase': 1.0},
  {'datetime': '2018-02-15', 'moonphase': 1.0},
  {'datetime': '2018-02-16', 'moonphase': 0.0},
  {'datetime': '2018-02-17', 'moonphase': 0.01},
  {'datetime': '2018-02-18', 'moonphase': 0.03},
  {'datetime': '2018-02-19', 'moonphase': 0.07},
  {'datetime': '2018-02-20', 'moonphase': 0.1},
  {'datetime': '2018-02-21', 'moonphase': 0.15},
  {'datetime': '2018-02-22', 'moonphase': 0.2},
  {'datetime': '2018-02-23', 'moonphase': 0.26},
  {'datetime': '2018-02-24', 'moonphase': 0.32},
  {'datetime': '2018-02-25', 'moonphase': 0.37},
  {'datetime': '2018-02-26', 'moonphase': 0.42},
  {'datetime': '2018-02-27', 'moonphase': 0.46},
  {'datetime': '2018-02-28', 'moonphase': 0.48},
  {'datetime': '2018-03-01', 'moonphase': 0.5},
  {'datetime': '2018-03-02', 'moonphase': 0.5},
  {'datetime': '2018-03-03', 'moonphase': 0.52},
  {'datetime': '2018-03-04', 'moonphase': 0.54},
  {'datetime': '2018-03-05', 'moonphase': 0.57},
  {'datetime': '2018-03-06', 'moonphase': 0.62},
  {'datetime': '2018-03-07', 'moonphase': 0.66},
  {'datetime': '2018-03-08', 'moonphase': 0.71},
  {'datetime': '2018-03-09', 'moonphase': 0.76},
  {'datetime': '2018-03-10', 'moonphase': 0.8},
  {'datetime': '2018-03-11', 'moonphase': 0.85},
  {'datetime': '2018-03-12', 'moonphase': 0.89},
  {'datetime': '2018-03-13', 'moonphase': 0.93},
  {'datetime': '2018-03-14', 'moonphase': 0.96},
  {'datetime': '2018-03-15', 'moonphase': 0.98},
  {'datetime': '2018-03-16', 'moonphase': 1.0},
  {'datetime': '2018-03-17', 'moonphase': 1.0},
  {'datetime': '2018-03-18', 'moonphase': 0.01},
  {'datetime': '2018-03-19', 'moonphase': 0.02},
  {'datetime': '2018-03-20', 'moonphase': 0.05},
  {'datetime': '2018-03-21', 'moonphase': 0.09},
  {'datetime': '2018-03-22', 'moonphase': 0.13},
  {'datetime': '2018-03-23', 'moonphase': 0.19},
  {'datetime': '2018-03-24', 'moonphase': 0.24},
  {'datetime': '2018-03-25', 'moonphase': 0.3},
  {'datetime': '2018-03-26', 'moonphase': 0.35},
  {'datetime': '2018-03-27', 'moonphase': 0.4},
  {'datetime': '2018-03-28', 'moonphase': 0.44},
  {'datetime': '2018-03-29', 'moonphase': 0.47},
  {'datetime': '2018-03-30', 'moonphase': 0.49},
  {'datetime': '2018-03-31', 'moonphase': 0.5},
  {'datetime': '2018-04-01', 'moonphase': 0.51},
  {'datetime': '2018-04-02', 'moonphase': 0.53},
  {'datetime': '2018-04-03', 'moonphase': 0.55},
  {'datetime': '2018-04-04', 'moonphase': 0.59},
  {'datetime': '2018-04-05', 'moonphase': 0.63},
  {'datetime': '2018-04-06', 'moonphase': 0.67},
  {'datetime': '2018-04-07', 'moonphase': 0.72},
  {'datetime': '2018-04-08', 'moonphase': 0.76},
  {'datetime': '2018-04-09', 'moonphase': 0.81},
  {'datetime': '2018-04-10', 'moonphase': 0.86},
  {'datetime': '2018-04-11', 'moonphase': 0.9},
  {'datetime': '2018-04-12', 'moonphase': 0.94},
  {'datetime': '2018-04-13', 'moonphase': 0.97},
  {'datetime': '2018-04-14', 'moonphase': 0.99},
  {'datetime': '2018-04-15', 'moonphase': 1.0},
  {'datetime': '2018-04-16', 'moonphase': 0.0},
  {'datetime': '2018-04-17', 'moonphase': 0.01},
  {'datetime': '2018-04-18', 'moonphase': 0.04},
  {'datetime': '2018-04-19', 'moonphase': 0.07},
  {'datetime': '2018-04-20', 'moonphase': 0.12},
  {'datetime': '2018-04-21', 'moonphase': 0.17},
  {'datetime': '2018-04-22', 'moonphase': 0.23},
  {'datetime': '2018-04-23', 'moonphase': 0.28},
  {'datetime': '2018-04-24', 'moonphase': 0.34},
  {'datetime': '2018-04-25', 'moonphase': 0.39},
  {'datetime': '2018-04-26', 'moonphase': 0.43},
  {'datetime': '2018-04-27', 'moonphase': 0.46},
  {'datetime': '2018-04-28', 'moonphase': 0.49},
  {'datetime': '2018-04-29', 'moonphase': 0.5},
  {'datetime': '2018-04-30', 'moonphase': 0.5},
  {'datetime': '2018-05-01', 'moonphase': 0.52},
  {'datetime': '2018-05-02', 'moonphase': 0.53},
  {'datetime': '2018-05-03', 'moonphase': 0.56},
  {'datetime': '2018-05-04', 'moonphase': 0.6},
  {'datetime': '2018-05-05', 'moonphase': 0.64},
  {'datetime': '2018-05-06', 'moonphase': 0.68},
  {'datetime': '2018-05-07', 'moonphase': 0.73},
  {'datetime': '2018-05-08', 'moonphase': 0.77},
  {'datetime': '2018-05-09', 'moonphase': 0.82},
  {'datetime': '2018-05-10', 'moonphase': 0.87},
  {'datetime': '2018-05-11', 'moonphase': 0.91},
  {'datetime': '2018-05-12', 'moonphase': 0.95},
  {'datetime': '2018-05-13', 'moonphase': 0.98},
  {'datetime': '2018-05-14', 'moonphase': 1.0},
  {'datetime': '2018-05-15', 'moonphase': 0.0},
  {'datetime': '2018-05-16', 'moonphase': 0.01},
  {'datetime': '2018-05-17', 'moonphase': 0.03},
  {'datetime': '2018-05-18', 'moonphase': 0.06},
  {'datetime': '2018-05-19', 'moonphase': 0.11},
  {'datetime': '2018-05-20', 'moonphase': 0.16},
  {'datetime': '2018-05-21', 'moonphase': 0.21},
  {'datetime': '2018-05-22', 'moonphase': 0.27},
  {'datetime': '2018-05-23', 'moonphase': 0.32},
  {'datetime': '2018-05-24', 'moonphase': 0.37},
  {'datetime': '2018-05-25', 'moonphase': 0.42},
  {'datetime': '2018-05-26', 'moonphase': 0.45},
  {'datetime': '2018-05-27', 'moonphase': 0.48},
  {'datetime': '2018-05-28', 'moonphase': 0.49},
  {'datetime': '2018-05-29', 'moonphase': 0.5},
  {'datetime': '2018-05-30', 'moonphase': 0.51},
  {'datetime': '2018-05-31', 'moonphase': 0.52},
  {'datetime': '2018-06-01', 'moonphase': 0.54},
  {'datetime': '2018-06-02', 'moonphase': 0.57},
  {'datetime': '2018-06-03', 'moonphase': 0.61},
  {'datetime': '2018-06-04', 'moonphase': 0.65},
  {'datetime': '2018-06-05', 'moonphase': 0.69},
  {'datetime': '2018-06-06', 'moonphase': 0.74},
  {'datetime': '2018-06-07', 'moonphase': 0.79},
  {'datetime': '2018-06-08', 'moonphase': 0.84},
  {'datetime': '2018-06-09', 'moonphase': 0.89},
  {'datetime': '2018-06-10', 'moonphase': 0.93},
  {'datetime': '2018-06-11', 'moonphase': 0.97},
  {'datetime': '2018-06-12', 'moonphase': 0.99},
  {'datetime': '2018-06-13', 'moonphase': 1.0},
  {'datetime': '2018-06-14', 'moonphase': 0.0},
  {'datetime': '2018-06-15', 'moonphase': 0.02},
  {'datetime': '2018-06-16', 'moonphase': 0.05},
  {'datetime': '2018-06-17', 'moonphase': 0.09},
  {'datetime': '2018-06-18', 'moonphase': 0.14},
  {'datetime': '2018-06-19', 'moonphase': 0.2},
  {'datetime': '2018-06-20', 'moonphase': 0.25},
  {'datetime': '2018-06-21', 'moonphase': 0.31},
  {'datetime': '2018-06-22', 'moonphase': 0.36},
  {'datetime': '2018-06-23', 'moonphase': 0.4},
  {'datetime': '2018-06-24', 'moonphase': 0.44},
  {'datetime': '2018-06-25', 'moonphase': 0.47},
  {'datetime': '2018-06-26', 'moonphase': 0.49},
  {'datetime': '2018-06-27', 'moonphase': 0.5},
  {'datetime': '2018-06-28', 'moonphase': 0.5},
  {'datetime': '2018-06-29', 'moonphase': 0.51},
  {'datetime': '2018-06-30', 'moonphase': 0.53},
  {'datetime': '2018-07-01', 'moonphase': 0.55},
  {'datetime': '2018-07-02', 'moonphase': 0.58},
  {'datetime': '2018-07-03', 'moonphase': 0.62},
  {'datetime': '2018-07-04', 'moonphase': 0.66},
  {'datetime': '2018-07-05', 'moonphase': 0.71},
  {'datetime': '2018-07-06', 'moonphase': 0.76},
  {'datetime': '2018-07-07', 'moonphase': 0.82},
  {'datetime': '2018-07-08', 'moonphase': 0.87},
  {'datetime': '2018-07-09', 'moonphase': 0.91},
  {'datetime': '2018-07-10', 'moonphase': 0.95},
  {'datetime': '2018-07-11', 'moonphase': 0.98},
  {'datetime': '2018-07-12', 'moonphase': 1.0},
  {'datetime': '2018-07-13', 'moonphase': 0.0},
  {'datetime': '2018-07-14', 'moonphase': 0.01},
  {'datetime': '2018-07-15', 'moonphase': 0.04},
  {'datetime': '2018-07-16', 'moonphase': 0.08},
  {'datetime': '2018-07-17', 'moonphase': 0.13},
  {'datetime': '2018-07-18', 'moonphase': 0.18},
  {'datetime': '2018-07-19', 'moonphase': 0.23},
  {'datetime': '2018-07-20', 'moonphase': 0.28},
  {'datetime': '2018-07-21', 'moonphase': 0.34},
  {'datetime': '2018-07-22', 'moonphase': 0.38},
  {'datetime': '2018-07-23', 'moonphase': 0.42},
  {'datetime': '2018-07-24', 'moonphase': 0.45},
  {'datetime': '2018-07-25', 'moonphase': 0.48},
  {'datetime': '2018-07-26', 'moonphase': 0.49},
  {'datetime': '2018-07-27', 'moonphase': 0.5},
  {'datetime': '2018-07-28', 'moonphase': 0.5},
  {'datetime': '2018-07-29', 'moonphase': 0.52},
  {'datetime': '2018-07-30', 'moonphase': 0.53},
  {'datetime': '2018-07-31', 'moonphase': 0.56},
  {'datetime': '2018-08-01', 'moonphase': 0.6},
  {'datetime': '2018-08-02', 'moonphase': 0.64},
  {'datetime': '2018-08-03', 'moonphase': 0.69},
  {'datetime': '2018-08-04', 'moonphase': 0.74},
  {'datetime': '2018-08-05', 'moonphase': 0.79},
  {'datetime': '2018-08-06', 'moonphase': 0.85},
  {'datetime': '2018-08-07', 'moonphase': 0.9},
  {'datetime': '2018-08-08', 'moonphase': 0.94},
  {'datetime': '2018-08-09', 'moonphase': 0.98},
  {'datetime': '2018-08-10', 'moonphase': 1.0},
  {'datetime': '2018-08-11', 'moonphase': 0.0},
  {'datetime': '2018-08-12', 'moonphase': 0.01},
  {'datetime': '2018-08-13', 'moonphase': 0.03},
  {'datetime': '2018-08-14', 'moonphase': 0.07},
  {'datetime': '2018-08-15', 'moonphase': 0.11},
  {'datetime': '2018-08-16', 'moonphase': 0.16},
  {'datetime': '2018-08-17', 'moonphase': 0.21},
  {'datetime': '2018-08-18', 'moonphase': 0.26},
  {'datetime': '2018-08-19', 'moonphase': 0.31},
  {'datetime': '2018-08-20', 'moonphase': 0.35},
  {'datetime': '2018-08-21', 'moonphase': 0.4},
  {'datetime': '2018-08-22', 'moonphase': 0.43},
  {'datetime': '2018-08-23', 'moonphase': 0.46},
  {'datetime': '2018-08-24', 'moonphase': 0.48},
  {'datetime': '2018-08-25', 'moonphase': 0.5},
  {'datetime': '2018-08-26', 'moonphase': 0.5},
  {'datetime': '2018-08-27', 'moonphase': 0.51},
  {'datetime': '2018-08-28', 'moonphase': 0.52},
  {'datetime': '2018-08-29', 'moonphase': 0.54},
  {'datetime': '2018-08-30', 'moonphase': 0.58},
  {'datetime': '2018-08-31', 'moonphase': 0.62},
  {'datetime': '2018-09-01', 'moonphase': 0.67},
  {'datetime': '2018-09-02', 'moonphase': 0.72},
  {'datetime': '2018-09-03', 'moonphase': 0.78},
  {'datetime': '2018-09-04', 'moonphase': 0.83},
  {'datetime': '2018-09-05', 'moonphase': 0.88},
  {'datetime': '2018-09-06', 'moonphase': 0.93},
  {'datetime': '2018-09-07', 'moonphase': 0.97},
  {'datetime': '2018-09-08', 'moonphase': 0.99},
  {'datetime': '2018-09-09', 'moonphase': 1.0},
  {'datetime': '2018-09-10', 'moonphase': 0.0},
  {'datetime': '2018-09-11', 'moonphase': 0.02},
  {'datetime': '2018-09-12', 'moonphase': 0.05},
  {'datetime': '2018-09-13', 'moonphase': 0.09},
  {'datetime': '2018-09-14', 'moonphase': 0.13},
  {'datetime': '2018-09-15', 'moonphase': 0.18},
  {'datetime': '2018-09-16', 'moonphase': 0.23},
  {'datetime': '2018-09-17', 'moonphase': 0.28},
  {'datetime': '2018-09-18', 'moonphase': 0.32},
  {'datetime': '2018-09-19', 'moonphase': 0.37},
  {'datetime': '2018-09-20', 'moonphase': 0.41},
  {'datetime': '2018-09-21', 'moonphase': 0.44},
  {'datetime': '2018-09-22', 'moonphase': 0.47},
  {'datetime': '2018-09-23', 'moonphase': 0.49},
  {'datetime': '2018-09-24', 'moonphase': 0.5},
  {'datetime': '2018-09-25', 'moonphase': 0.5},
  {'datetime': '2018-09-26', 'moonphase': 0.52},
  {'datetime': '2018-09-27', 'moonphase': 0.53},
  {'datetime': '2018-09-28', 'moonphase': 0.56},
  {'datetime': '2018-09-29', 'moonphase': 0.6},
  {'datetime': '2018-09-30', 'moonphase': 0.65},
  {'datetime': '2018-10-01', 'moonphase': 0.7},
  {'datetime': '2018-10-02', 'moonphase': 0.76},
  {'datetime': '2018-10-03', 'moonphase': 0.82},
  {'datetime': '2018-10-04', 'moonphase': 0.87},
  {'datetime': '2018-10-05', 'moonphase': 0.92},
  {'datetime': '2018-10-06', 'moonphase': 0.96},
  {'datetime': '2018-10-07', 'moonphase': 0.99},
  {'datetime': '2018-10-08', 'moonphase': 1.0},
  {'datetime': '2018-10-09', 'moonphase': 0.0},
  {'datetime': '2018-10-10', 'moonphase': 0.01},
  {'datetime': '2018-10-11', 'moonphase': 0.03},
  {'datetime': '2018-10-12', 'moonphase': 0.06},
  {'datetime': '2018-10-13', 'moonphase': 0.1},
  {'datetime': '2018-10-14', 'moonphase': 0.14},
  {'datetime': '2018-10-15', 'moonphase': 0.19},
  {'datetime': '2018-10-16', 'moonphase': 0.24},
  {'datetime': '2018-10-17', 'moonphase': 0.28},
  {'datetime': '2018-10-18', 'moonphase': 0.33},
  {'datetime': '2018-10-19', 'moonphase': 0.37},
  {'datetime': '2018-10-20', 'moonphase': 0.41},
  {'datetime': '2018-10-21', 'moonphase': 0.45},
  {'datetime': '2018-10-22', 'moonphase': 0.47},
  {'datetime': '2018-10-23', 'moonphase': 0.49},
  {'datetime': '2018-10-24', 'moonphase': 0.5},
  {'datetime': '2018-10-25', 'moonphase': 0.51},
  {'datetime': '2018-10-26', 'moonphase': 0.52},
  {'datetime': '2018-10-27', 'moonphase': 0.55},
  {'datetime': '2018-10-28', 'moonphase': 0.59},
  {'datetime': '2018-10-29', 'moonphase': 0.63},
  {'datetime': '2018-10-30', 'moonphase': 0.69},
  {'datetime': '2018-10-31', 'moonphase': 0.74},
  {'datetime': '2018-11-01', 'moonphase': 0.8},
  {'datetime': '2018-11-02', 'moonphase': 0.86},
  {'datetime': '2018-11-03', 'moonphase': 0.9},
  {'datetime': '2018-11-04', 'moonphase': 0.94},
  {'datetime': '2018-11-05', 'moonphase': 0.98},
  {'datetime': '2018-11-06', 'moonphase': 1.0},
  {'datetime': '2018-11-07', 'moonphase': 1.0},
  {'datetime': '2018-11-08', 'moonphase': 0.0},
  {'datetime': '2018-11-09', 'moonphase': 0.02},
  {'datetime': '2018-11-10', 'moonphase': 0.04},
  {'datetime': '2018-11-11', 'moonphase': 0.07},
  {'datetime': '2018-11-12', 'moonphase': 0.11},
  {'datetime': '2018-11-13', 'moonphase': 0.15},
  {'datetime': '2018-11-14', 'moonphase': 0.2},
  {'datetime': '2018-11-15', 'moonphase': 0.25},
  {'datetime': '2018-11-16', 'moonphase': 0.29},
  {'datetime': '2018-11-17', 'moonphase': 0.34},
  {'datetime': '2018-11-18', 'moonphase': 0.38},
  {'datetime': '2018-11-19', 'moonphase': 0.42},
  {'datetime': '2018-11-20', 'moonphase': 0.46},
  {'datetime': '2018-11-21', 'moonphase': 0.48},
  {'datetime': '2018-11-22', 'moonphase': 0.5},
  {'datetime': '2018-11-23', 'moonphase': 0.5},
  {'datetime': '2018-11-24', 'moonphase': 0.52},
  {'datetime': '2018-11-25', 'moonphase': 0.53},
  {'datetime': '2018-11-26', 'moonphase': 0.57},
  {'datetime': '2018-11-27', 'moonphase': 0.62},
  {'datetime': '2018-11-28', 'moonphase': 0.67},
  {'datetime': '2018-11-29', 'moonphase': 0.73},
  {'datetime': '2018-11-30', 'moonphase': 0.78},
  {'datetime': '2018-12-01', 'moonphase': 0.84},
  {'datetime': '2018-12-02', 'moonphase': 0.89},
  {'datetime': '2018-12-03', 'moonphase': 0.93},
  {'datetime': '2018-12-04', 'moonphase': 0.96},
  {'datetime': '2018-12-05', 'moonphase': 0.99},
  {'datetime': '2018-12-06', 'moonphase': 1.0},
  {'datetime': '2018-12-07', 'moonphase': 0.0},
  {'datetime': '2018-12-08', 'moonphase': 0.01},
  {'datetime': '2018-12-09', 'moonphase': 0.02},
  {'datetime': '2018-12-10', 'moonphase': 0.05},
  {'datetime': '2018-12-11', 'moonphase': 0.08},
  {'datetime': '2018-12-12', 'moonphase': 0.12},
  {'datetime': '2018-12-13', 'moonphase': 0.16},
  {'datetime': '2018-12-14', 'moonphase': 0.2},
  {'datetime': '2018-12-15', 'moonphase': 0.25},
  {'datetime': '2018-12-16', 'moonphase': 0.3},
  {'datetime': '2018-12-17', 'moonphase': 0.35},
  {'datetime': '2018-12-18', 'moonphase': 0.39},
  {'datetime': '2018-12-19', 'moonphase': 0.43},
  {'datetime': '2018-12-20', 'moonphase': 0.47},
  {'datetime': '2018-12-21', 'moonphase': 0.49},
  {'datetime': '2018-12-22', 'moonphase': 0.5},
  {'datetime': '2018-12-23', 'moonphase': 0.51},
  {'datetime': '2018-12-24', 'moonphase': 0.53},
  {'datetime': '2018-12-25', 'moonphase': 0.55},
  {'datetime': '2018-12-26', 'moonphase': 0.6},
  {'datetime': '2018-12-27', 'moonphase': 0.65},
  {'datetime': '2018-12-28', 'moonphase': 0.7},
  {'datetime': '2018-12-29', 'moonphase': 0.76},
  {'datetime': '2018-12-30', 'moonphase': 0.81},
  {'datetime': '2018-12-31', 'moonphase': 0.86},
  {'datetime': '2019-01-01', 'moonphase': 0.91},
  {'datetime': '2019-01-02', 'moonphase': 0.95},
  {'datetime': '2019-01-03', 'moonphase': 0.97},
  {'datetime': '2019-01-04', 'moonphase': 0.99},
  {'datetime': '2019-01-05', 'moonphase': 1.0},
  {'datetime': '2019-01-06', 'moonphase': 0.0},
  {'datetime': '2019-01-07', 'moonphase': 0.01},
  {'datetime': '2019-01-08', 'moonphase': 0.03},
  {'datetime': '2019-01-09', 'moonphase': 0.05},
  {'datetime': '2019-01-10', 'moonphase': 0.08},
  {'datetime': '2019-01-11', 'moonphase': 0.12},
  {'datetime': '2019-01-12', 'moonphase': 0.16},
  {'datetime': '2019-01-13', 'moonphase': 0.21},
  {'datetime': '2019-01-14', 'moonphase': 0.26},
  {'datetime': '2019-01-15', 'moonphase': 0.31},
  {'datetime': '2019-01-16', 'moonphase': 0.36},
  {'datetime': '2019-01-17', 'moonphase': 0.41},
  {'datetime': '2019-01-18', 'moonphase': 0.45},
  {'datetime': '2019-01-19', 'moonphase': 0.48},
  {'datetime': '2019-01-20', 'moonphase': 0.5},
  {'datetime': '2019-01-21', 'moonphase': 0.5},
  {'datetime': '2019-01-22', 'moonphase': 0.52},
  {'datetime': '2019-01-23', 'moonphase': 0.54},
  {'datetime': '2019-01-24', 'moonphase': 0.58},
  {'datetime': '2019-01-25', 'moonphase': 0.63},
  {'datetime': '2019-01-26', 'moonphase': 0.68},
  {'datetime': '2019-01-27', 'moonphase': 0.73},
  {'datetime': '2019-01-28', 'moonphase': 0.79},
  {'datetime': '2019-01-29', 'moonphase': 0.84},
  {'datetime': '2019-01-30', 'moonphase': 0.88},
  {'datetime': '2019-01-31', 'moonphase': 0.92},
  {'datetime': '2019-02-01', 'moonphase': 0.95},
  {'datetime': '2019-02-02', 'moonphase': 0.98},
  {'datetime': '2019-02-03', 'moonphase': 1.0},
  {'datetime': '2019-02-04', 'moonphase': 1.0},
  {'datetime': '2019-02-05', 'moonphase': 0.0},
  {'datetime': '2019-02-06', 'moonphase': 0.01},
  {'datetime': '2019-02-07', 'moonphase': 0.03},
  {'datetime': '2019-02-08', 'moonphase': 0.06},
  {'datetime': '2019-02-09', 'moonphase': 0.09},

In [11]:
json.keys()

dict_keys(['queryCost', 'latitude', 'longitude', 'resolvedAddress', 'address', 'timezone', 'tzoffset', 'days'])

In [12]:
moonphases_df = pd.DataFrame(json['days'])
moonphases_df

        datetime  moonphase
0     2018-01-01       0.50
1     2018-01-02       0.50
2     2018-01-03       0.52
3     2018-01-04       0.54
4     2018-01-05       0.58
...          ...        ...
1456  2021-12-27       0.78
1457  2021-12-28       0.83
1458  2021-12-29       0.88
1459  2021-12-30       0.93
1460  2021-12-31       0.97

[1461 rows x 2 columns]

In [13]:
json['days']

[{'datetime': '2018-01-01', 'moonphase': 0.5},
 {'datetime': '2018-01-02', 'moonphase': 0.5},
 {'datetime': '2018-01-03', 'moonphase': 0.52},
 {'datetime': '2018-01-04', 'moonphase': 0.54},
 {'datetime': '2018-01-05', 'moonphase': 0.58},
 {'datetime': '2018-01-06', 'moonphase': 0.63},
 {'datetime': '2018-01-07', 'moonphase': 0.68},
 {'datetime': '2018-01-08', 'moonphase': 0.73},
 {'datetime': '2018-01-09', 'moonphase': 0.78},
 {'datetime': '2018-01-10', 'moonphase': 0.83},
 {'datetime': '2018-01-11', 'moonphase': 0.88},
 {'datetime': '2018-01-12', 'moonphase': 0.92},
 {'datetime': '2018-01-13', 'moonphase': 0.95},
 {'datetime': '2018-01-14', 'moonphase': 0.98},
 {'datetime': '2018-01-15', 'moonphase': 0.99},
 {'datetime': '2018-01-16', 'moonphase': 1.0},
 {'datetime': '2018-01-17', 'moonphase': 0.0},
 {'datetime': '2018-01-18', 'moonphase': 0.01},
 {'datetime': '2018-01-19', 'moonphase': 0.03},
 {'datetime': '2018-01-20', 'moonphase': 0.05},
 {'datetime': '2018-01-21', 'moonphase': 0.09},
 {'datetime': '2018-01-22', 'moonphase': 0.13},
 {'datetime': '2018-01-23', 'moonphase': 0.18},
 {'datetime': '2018-01-24', 'moonphase': 0.23},
 {'datetime': '2018-01-25', 'moonphase': 0.28},
 {'datetime': '2018-01-26', 'moonphase': 0.34},
 {'datetime': '2018-01-27', 'moonphase': 0.39},
 {'datetime': '2018-01-28', 'moonphase': 0.43},
 {'datetime': '2018-01-29', 'moonphase': 0.47},
 {'datetime': '2018-01-30', 'moonphase': 0.49},
 {'datetime': '2018-01-31', 'moonphase': 0.5},
 {'datetime': '2018-02-01', 'moonphase': 0.51},
 {'datetime': '2018-02-02', 'moonphase': 0.53},
 {'datetime': '2018-02-03', 'moonphase': 0.56},
 {'datetime': '2018-02-04', 'moonphase': 0.6},
 {'datetime': '2018-02-05', 'moonphase': 0.65},
 {'datetime': '2018-02-06', 'moonphase': 0.7},
 {'datetime': '2018-02-07', 'moonphase': 0.75},
 {'datetime': '2018-02-08', 'moonphase': 0.8},
 {'datetime': '2018-02-09', 'moonphase': 0.84},
 {'datetime': '2018-02-10', 'moonphase': 0.88},
 {'datetime': '2018-02-11', 'moonphase': 0.92},
 {'datetime': '2018-02-12', 'moonphase': 0.95},
 {'datetime': '2018-02-13', 'moonphase': 0.98},
 {'datetime': '2018-02-14', 'moonphase': 1.0},
 {'datetime': '2018-02-15', 'moonphase': 1.0},
 {'datetime': '2018-02-16', 'moonphase': 0.0},
 {'datetime': '2018-02-17', 'moonphase': 0.01},
 {'datetime': '2018-02-18', 'moonphase': 0.03},
 {'datetime': '2018-02-19', 'moonphase': 0.07},
 {'datetime': '2018-02-20', 'moonphase': 0.1},
 {'datetime': '2018-02-21', 'moonphase': 0.15},
 {'datetime': '2018-02-22', 'moonphase': 0.2},
 {'datetime': '2018-02-23', 'moonphase': 0.26},
 {'datetime': '2018-02-24', 'moonphase': 0.32},
 {'datetime': '2018-02-25', 'moonphase': 0.37},
 {'datetime': '2018-02-26', 'moonphase': 0.42},
 {'datetime': '2018-02-27', 'moonphase': 0.46},
 {'datetime': '2018-02-28', 'moonphase': 0.48},
 {'datetime': '2018-03-01', 'moonphase': 0.5},
 {'datetime': '2018-03-02', 'moonphase': 0.5},
 {'datetime': '2018-03-03', 'moonphase': 0.52},
 {'datetime': '2018-03-04', 'moonphase': 0.54},
 {'datetime': '2018-03-05', 'moonphase': 0.57},
 {'datetime': '2018-03-06', 'moonphase': 0.62},
 {'datetime': '2018-03-07', 'moonphase': 0.66},
 {'datetime': '2018-03-08', 'moonphase': 0.71},
 {'datetime': '2018-03-09', 'moonphase': 0.76},
 {'datetime': '2018-03-10', 'moonphase': 0.8},
 {'datetime': '2018-03-11', 'moonphase': 0.85},
 {'datetime': '2018-03-12', 'moonphase': 0.89},
 {'datetime': '2018-03-13', 'moonphase': 0.93},
 {'datetime': '2018-03-14', 'moonphase': 0.96},
 {'datetime': '2018-03-15', 'moonphase': 0.98},
 {'datetime': '2018-03-16', 'moonphase': 1.0},
 {'datetime': '2018-03-17', 'moonphase': 1.0},
 {'datetime': '2018-03-18', 'moonphase': 0.01},
 {'datetime': '2018-03-19', 'moonphase': 0.02},
 {'datetime': '2018-03-20', 'moonphase': 0.05},
 {'datetime': '2018-03-21', 'moonphase': 0.09},
 {'datetime': '2018-03-22', 'moonphase': 0.13},
 {'datetime': '2018-03-23', 'moonphase': 0.19},
 {'datetime': '2018-03-24', 'moonphase': 0.24},
 {'datetime': '2018-03-25', 'moonphase': 0.3},
 {'datetime': '2018-03-26', 'moonphase': 0.35},
 {'datetime': '2018-03-27', 'moonphase': 0.4},
 {'datetime': '2018-03-28', 'moonphase': 0.44},
 {'datetime': '2018-03-29', 'moonphase': 0.47},
 {'datetime': '2018-03-30', 'moonphase': 0.49},
 {'datetime': '2018-03-31', 'moonphase': 0.5},
 {'datetime': '2018-04-01', 'moonphase': 0.51},
 {'datetime': '2018-04-02', 'moonphase': 0.53},
 {'datetime': '2018-04-03', 'moonphase': 0.55},
 {'datetime': '2018-04-04', 'moonphase': 0.59},
 {'datetime': '2018-04-05', 'moonphase': 0.63},
 {'datetime': '2018-04-06', 'moonphase': 0.67},
 {'datetime': '2018-04-07', 'moonphase': 0.72},
 {'datetime': '2018-04-08', 'moonphase': 0.76},
 {'datetime': '2018-04-09', 'moonphase': 0.81},
 {'datetime': '2018-04-10', 'moonphase': 0.86},
 {'datetime': '2018-04-11', 'moonphase': 0.9},
 {'datetime': '2018-04-12', 'moonphase': 0.94},
 {'datetime': '2018-04-13', 'moonphase': 0.97},
 {'datetime': '2018-04-14', 'moonphase': 0.99},
 {'datetime': '2018-04-15', 'moonphase': 1.0},
 {'datetime': '2018-04-16', 'moonphase': 0.0},
 {'datetime': '2018-04-17', 'moonphase': 0.01},
 {'datetime': '2018-04-18', 'moonphase': 0.04},
 {'datetime': '2018-04-19', 'moonphase': 0.07},
 {'datetime': '2018-04-20', 'moonphase': 0.12},
 {'datetime': '2018-04-21', 'moonphase': 0.17},
 {'datetime': '2018-04-22', 'moonphase': 0.23},
 {'datetime': '2018-04-23', 'moonphase': 0.28},
 {'datetime': '2018-04-24', 'moonphase': 0.34},
 {'datetime': '2018-04-25', 'moonphase': 0.39},
 {'datetime': '2018-04-26', 'moonphase': 0.43},
 {'datetime': '2018-04-27', 'moonphase': 0.46},
 {'datetime': '2018-04-28', 'moonphase': 0.49},
 {'datetime': '2018-04-29', 'moonphase': 0.5},
 {'datetime': '2018-04-30', 'moonphase': 0.5},
 {'datetime': '2018-05-01', 'moonphase': 0.52},
 {'datetime': '2018-05-02', 'moonphase': 0.53},
 {'datetime': '2018-05-03', 'moonphase': 0.56},
 {'datetime': '2018-05-04', 'moonphase': 0.6},
 {'datetime': '2018-05-05', 'moonphase': 0.64},
 {'datetime': '2018-05-06', 'moonphase': 0.68},
 {'datetime': '2018-05-07', 'moonphase': 0.73},
 {'datetime': '2018-05-08', 'moonphase': 0.77},
 {'datetime': '2018-05-09', 'moonphase': 0.82},
 {'datetime': '2018-05-10', 'moonphase': 0.87},
 {'datetime': '2018-05-11', 'moonphase': 0.91},
 {'datetime': '2018-05-12', 'moonphase': 0.95},
 {'datetime': '2018-05-13', 'moonphase': 0.98},
 {'datetime': '2018-05-14', 'moonphase': 1.0},
 {'datetime': '2018-05-15', 'moonphase': 0.0},
 {'datetime': '2018-05-16', 'moonphase': 0.01},
 {'datetime': '2018-05-17', 'moonphase': 0.03},
 {'datetime': '2018-05-18', 'moonphase': 0.06},
 {'datetime': '2018-05-19', 'moonphase': 0.11},
 {'datetime': '2018-05-20', 'moonphase': 0.16},
 {'datetime': '2018-05-21', 'moonphase': 0.21},
 {'datetime': '2018-05-22', 'moonphase': 0.27},
 {'datetime': '2018-05-23', 'moonphase': 0.32},
 {'datetime': '2018-05-24', 'moonphase': 0.37},
 {'datetime': '2018-05-25', 'moonphase': 0.42},
 {'datetime': '2018-05-26', 'moonphase': 0.45},
 {'datetime': '2018-05-27', 'moonphase': 0.48},
 {'datetime': '2018-05-28', 'moonphase': 0.49},
 {'datetime': '2018-05-29', 'moonphase': 0.5},
 {'datetime': '2018-05-30', 'moonphase': 0.51},
 {'datetime': '2018-05-31', 'moonphase': 0.52},
 {'datetime': '2018-06-01', 'moonphase': 0.54},
 {'datetime': '2018-06-02', 'moonphase': 0.57},
 {'datetime': '2018-06-03', 'moonphase': 0.61},
 {'datetime': '2018-06-04', 'moonphase': 0.65},
 {'datetime': '2018-06-05', 'moonphase': 0.69},
 {'datetime': '2018-06-06', 'moonphase': 0.74},
 {'datetime': '2018-06-07', 'moonphase': 0.79},
 {'datetime': '2018-06-08', 'moonphase': 0.84},
 {'datetime': '2018-06-09', 'moonphase': 0.89},
 {'datetime': '2018-06-10', 'moonphase': 0.93},
 {'datetime': '2018-06-11', 'moonphase': 0.97},
 {'datetime': '2018-06-12', 'moonphase': 0.99},
 {'datetime': '2018-06-13', 'moonphase': 1.0},
 {'datetime': '2018-06-14', 'moonphase': 0.0},
 {'datetime': '2018-06-15', 'moonphase': 0.02},
 {'datetime': '2018-06-16', 'moonphase': 0.05},
 {'datetime': '2018-06-17', 'moonphase': 0.09},
 {'datetime': '2018-06-18', 'moonphase': 0.14},
 {'datetime': '2018-06-19', 'moonphase': 0.2},
 {'datetime': '2018-06-20', 'moonphase': 0.25},
 {'datetime': '2018-06-21', 'moonphase': 0.31},
 {'datetime': '2018-06-22', 'moonphase': 0.36},
 {'datetime': '2018-06-23', 'moonphase': 0.4},
 {'datetime': '2018-06-24', 'moonphase': 0.44},
 {'datetime': '2018-06-25', 'moonphase': 0.47},
 {'datetime': '2018-06-26', 'moonphase': 0.49},
 {'datetime': '2018-06-27', 'moonphase': 0.5},
 {'datetime': '2018-06-28', 'moonphase': 0.5},
 {'datetime': '2018-06-29', 'moonphase': 0.51},
 {'datetime': '2018-06-30', 'moonphase': 0.53},
 {'datetime': '2018-07-01', 'moonphase': 0.55},
 {'datetime': '2018-07-02', 'moonphase': 0.58},
 {'datetime': '2018-07-03', 'moonphase': 0.62},
 {'datetime': '2018-07-04', 'moonphase': 0.66},
 {'datetime': '2018-07-05', 'moonphase': 0.71},
 {'datetime': '2018-07-06', 'moonphase': 0.76},
 {'datetime': '2018-07-07', 'moonphase': 0.82},
 {'datetime': '2018-07-08', 'moonphase': 0.87},
 {'datetime': '2018-07-09', 'moonphase': 0.91},
 {'datetime': '2018-07-10', 'moonphase': 0.95},
 {'datetime': '2018-07-11', 'moonphase': 0.98},
 {'datetime': '2018-07-12', 'moonphase': 1.0},
 {'datetime': '2018-07-13', 'moonphase': 0.0},
 {'datetime': '2018-07-14', 'moonphase': 0.01},
 {'datetime': '2018-07-15', 'moonphase': 0.04},
 {'datetime': '2018-07-16', 'moonphase': 0.08},
 {'datetime': '2018-07-17', 'moonphase': 0.13},
 {'datetime': '2018-07-18', 'moonphase': 0.18},
 {'datetime': '2018-07-19', 'moonphase': 0.23},
 {'datetime': '2018-07-20', 'moonphase': 0.28},
 {'datetime': '2018-07-21', 'moonphase': 0.34},
 {'datetime': '2018-07-22', 'moonphase': 0.38},
 {'datetime': '2018-07-23', 'moonphase': 0.42},
 {'datetime': '2018-07-24', 'moonphase': 0.45},
 {'datetime': '2018-07-25', 'moonphase': 0.48},
 {'datetime': '2018-07-26', 'moonphase': 0.49},
 {'datetime': '2018-07-27', 'moonphase': 0.5},
 {'datetime': '2018-07-28', 'moonphase': 0.5},
 {'datetime': '2018-07-29', 'moonphase': 0.52},
 {'datetime': '2018-07-30', 'moonphase': 0.53},
 {'datetime': '2018-07-31', 'moonphase': 0.56},
 {'datetime': '2018-08-01', 'moonphase': 0.6},
 {'datetime': '2018-08-02', 'moonphase': 0.64},
 {'datetime': '2018-08-03', 'moonphase': 0.69},
 {'datetime': '2018-08-04', 'moonphase': 0.74},
 {'datetime': '2018-08-05', 'moonphase': 0.79},
 {'datetime': '2018-08-06', 'moonphase': 0.85},
 {'datetime': '2018-08-07', 'moonphase': 0.9},
 {'datetime': '2018-08-08', 'moonphase': 0.94},
 {'datetime': '2018-08-09', 'moonphase': 0.98},
 {'datetime': '2018-08-10', 'moonphase': 1.0},
 {'datetime': '2018-08-11', 'moonphase': 0.0},
 {'datetime': '2018-08-12', 'moonphase': 0.01},
 {'datetime': '2018-08-13', 'moonphase': 0.03},
 {'datetime': '2018-08-14', 'moonphase': 0.07},
 {'datetime': '2018-08-15', 'moonphase': 0.11},
 {'datetime': '2018-08-16', 'moonphase': 0.16},
 {'datetime': '2018-08-17', 'moonphase': 0.21},
 {'datetime': '2018-08-18', 'moonphase': 0.26},
 {'datetime': '2018-08-19', 'moonphase': 0.31},
 {'datetime': '2018-08-20', 'moonphase': 0.35},
 {'datetime': '2018-08-21', 'moonphase': 0.4},
 {'datetime': '2018-08-22', 'moonphase': 0.43},
 {'datetime': '2018-08-23', 'moonphase': 0.46},
 {'datetime': '2018-08-24', 'moonphase': 0.48},
 {'datetime': '2018-08-25', 'moonphase': 0.5},
 {'datetime': '2018-08-26', 'moonphase': 0.5},
 {'datetime': '2018-08-27', 'moonphase': 0.51},
 {'datetime': '2018-08-28', 'moonphase': 0.52},
 {'datetime': '2018-08-29', 'moonphase': 0.54},
 {'datetime': '2018-08-30', 'moonphase': 0.58},
 {'datetime': '2018-08-31', 'moonphase': 0.62},
 {'datetime': '2018-09-01', 'moonphase': 0.67},
 {'datetime': '2018-09-02', 'moonphase': 0.72},
 {'datetime': '2018-09-03', 'moonphase': 0.78},
 {'datetime': '2018-09-04', 'moonphase': 0.83},
 {'datetime': '2018-09-05', 'moonphase': 0.88},
 {'datetime': '2018-09-06', 'moonphase': 0.93},
 {'datetime': '2018-09-07', 'moonphase': 0.97},
 {'datetime': '2018-09-08', 'moonphase': 0.99},
 {'datetime': '2018-09-09', 'moonphase': 1.0},
 {'datetime': '2018-09-10', 'moonphase': 0.0},
 {'datetime': '2018-09-11', 'moonphase': 0.02},
 {'datetime': '2018-09-12', 'moonphase': 0.05},
 {'datetime': '2018-09-13', 'moonphase': 0.09},
 {'datetime': '2018-09-14', 'moonphase': 0.13},
 {'datetime': '2018-09-15', 'moonphase': 0.18},
 {'datetime': '2018-09-16', 'moonphase': 0.23},
 {'datetime': '2018-09-17', 'moonphase': 0.28},
 {'datetime': '2018-09-18', 'moonphase': 0.32},
 {'datetime': '2018-09-19', 'moonphase': 0.37},
 {'datetime': '2018-09-20', 'moonphase': 0.41},
 {'datetime': '2018-09-21', 'moonphase': 0.44},
 {'datetime': '2018-09-22', 'moonphase': 0.47},
 {'datetime': '2018-09-23', 'moonphase': 0.49},
 {'datetime': '2018-09-24', 'moonphase': 0.5},
 {'datetime': '2018-09-25', 'moonphase': 0.5},
 {'datetime': '2018-09-26', 'moonphase': 0.52},
 {'datetime': '2018-09-27', 'moonphase': 0.53},
 {'datetime': '2018-09-28', 'moonphase': 0.56},
 {'datetime': '2018-09-29', 'moonphase': 0.6},
 {'datetime': '2018-09-30', 'moonphase': 0.65},
 {'datetime': '2018-10-01', 'moonphase': 0.7},
 {'datetime': '2018-10-02', 'moonphase': 0.76},
 {'datetime': '2018-10-03', 'moonphase': 0.82},
 {'datetime': '2018-10-04', 'moonphase': 0.87},
 {'datetime': '2018-10-05', 'moonphase': 0.92},
 {'datetime': '2018-10-06', 'moonphase': 0.96},
 {'datetime': '2018-10-07', 'moonphase': 0.99},
 {'datetime': '2018-10-08', 'moonphase': 1.0},
 {'datetime': '2018-10-09', 'moonphase': 0.0},
 {'datetime': '2018-10-10', 'moonphase': 0.01},
 {'datetime': '2018-10-11', 'moonphase': 0.03},
 {'datetime': '2018-10-12', 'moonphase': 0.06},
 {'datetime': '2018-10-13', 'moonphase': 0.1},
 {'datetime': '2018-10-14', 'moonphase': 0.14},
 {'datetime': '2018-10-15', 'moonphase': 0.19},
 {'datetime': '2018-10-16', 'moonphase': 0.24},
 {'datetime': '2018-10-17', 'moonphase': 0.28},
 {'datetime': '2018-10-18', 'moonphase': 0.33},
 {'datetime': '2018-10-19', 'moonphase': 0.37},
 {'datetime': '2018-10-20', 'moonphase': 0.41},
 {'datetime': '2018-10-21', 'moonphase': 0.45},
 {'datetime': '2018-10-22', 'moonphase': 0.47},
 {'datetime': '2018-10-23', 'moonphase': 0.49},
 {'datetime': '2018-10-24', 'moonphase': 0.5},
 {'datetime': '2018-10-25', 'moonphase': 0.51},
 {'datetime': '2018-10-26', 'moonphase': 0.52},
 {'datetime': '2018-10-27', 'moonphase': 0.55},
 {'datetime': '2018-10-28', 'moonphase': 0.59},
 {'datetime': '2018-10-29', 'moonphase': 0.63},
 {'datetime': '2018-10-30', 'moonphase': 0.69},
 {'datetime': '2018-10-31', 'moonphase': 0.74},
 {'datetime': '2018-11-01', 'moonphase': 0.8},
 {'datetime': '2018-11-02', 'moonphase': 0.86},
 {'datetime': '2018-11-03', 'moonphase': 0.9},
 {'datetime': '2018-11-04', 'moonphase': 0.94},
 {'datetime': '2018-11-05', 'moonphase': 0.98},
 {'datetime': '2018-11-06', 'moonphase': 1.0},
 {'datetime': '2018-11-07', 'moonphase': 1.0},
 {'datetime': '2018-11-08', 'moonphase': 0.0},
 {'datetime': '2018-11-09', 'moonphase': 0.02},
 {'datetime': '2018-11-10', 'moonphase': 0.04},
 {'datetime': '2018-11-11', 'moonphase': 0.07},
 {'datetime': '2018-11-12', 'moonphase': 0.11},
 {'datetime': '2018-11-13', 'moonphase': 0.15},
 {'datetime': '2018-11-14', 'moonphase': 0.2},
 {'datetime': '2018-11-15', 'moonphase': 0.25},
 {'datetime': '2018-11-16', 'moonphase': 0.29},
 {'datetime': '2018-11-17', 'moonphase': 0.34},
 {'datetime': '2018-11-18', 'moonphase': 0.38},
 {'datetime': '2018-11-19', 'moonphase': 0.42},
 {'datetime': '2018-11-20', 'moonphase': 0.46},
 {'datetime': '2018-11-21', 'moonphase': 0.48},
 {'datetime': '2018-11-22', 'moonphase': 0.5},
 {'datetime': '2018-11-23', 'moonphase': 0.5},
 {'datetime': '2018-11-24', 'moonphase': 0.52},
 {'datetime': '2018-11-25', 'moonphase': 0.53},
 {'datetime': '2018-11-26', 'moonphase': 0.57},
 {'datetime': '2018-11-27', 'moonphase': 0.62},
 {'datetime': '2018-11-28', 'moonphase': 0.67},
 {'datetime': '2018-11-29', 'moonphase': 0.73},
 {'datetime': '2018-11-30', 'moonphase': 0.78},
 {'datetime': '2018-12-01', 'moonphase': 0.84},
 {'datetime': '2018-12-02', 'moonphase': 0.89},
 {'datetime': '2018-12-03', 'moonphase': 0.93},
 {'datetime': '2018-12-04', 'moonphase': 0.96},
 {'datetime': '2018-12-05', 'moonphase': 0.99},
 {'datetime': '2018-12-06', 'moonphase': 1.0},
 {'datetime': '2018-12-07', 'moonphase': 0.0},
 {'datetime': '2018-12-08', 'moonphase': 0.01},
 {'datetime': '2018-12-09', 'moonphase': 0.02},
 {'datetime': '2018-12-10', 'moonphase': 0.05},
 {'datetime': '2018-12-11', 'moonphase': 0.08},
 {'datetime': '2018-12-12', 'moonphase': 0.12},
 {'datetime': '2018-12-13', 'moonphase': 0.16},
 {'datetime': '2018-12-14', 'moonphase': 0.2},
 {'datetime': '2018-12-15', 'moonphase': 0.25},
 {'datetime': '2018-12-16', 'moonphase': 0.3},
 {'datetime': '2018-12-17', 'moonphase': 0.35},
 {'datetime': '2018-12-18', 'moonphase': 0.39},
 {'datetime': '2018-12-19', 'moonphase': 0.43},
 {'datetime': '2018-12-20', 'moonphase': 0.47},
 {'datetime': '2018-12-21', 'moonphase': 0.49},
 {'datetime': '2018-12-22', 'moonphase': 0.5},
 {'datetime': '2018-12-23', 'moonphase': 0.51},
 {'datetime': '2018-12-24', 'moonphase': 0.53},
 {'datetime': '2018-12-25', 'moonphase': 0.55},
 {'datetime': '2018-12-26', 'moonphase': 0.6},
 {'datetime': '2018-12-27', 'moonphase': 0.65},
 {'datetime': '2018-12-28', 'moonphase': 0.7},
 {'datetime': '2018-12-29', 'moonphase': 0.76},
 {'datetime': '2018-12-30', 'moonphase': 0.81},
 {'datetime': '2018-12-31', 'moonphase': 0.86},
 {'datetime': '2019-01-01', 'moonphase': 0.91},
 {'datetime': '2019-01-02', 'moonphase': 0.95},
 {'datetime': '2019-01-03', 'moonphase': 0.97},
 {'datetime': '2019-01-04', 'moonphase': 0.99},
 {'datetime': '2019-01-05', 'moonphase': 1.0},
 {'datetime': '2019-01-06', 'moonphase': 0.0},
 {'datetime': '2019-01-07', 'moonphase': 0.01},
 {'datetime': '2019-01-08', 'moonphase': 0.03},
 {'datetime': '2019-01-09', 'moonphase': 0.05},
 {'datetime': '2019-01-10', 'moonphase': 0.08},
 {'datetime': '2019-01-11', 'moonphase': 0.12},
 {'datetime': '2019-01-12', 'moonphase': 0.16},
 {'datetime': '2019-01-13', 'moonphase': 0.21},
 {'datetime': '2019-01-14', 'moonphase': 0.26},
 {'datetime': '2019-01-15', 'moonphase': 0.31},
 {'datetime': '2019-01-16', 'moonphase': 0.36},
 {'datetime': '2019-01-17', 'moonphase': 0.41},
 {'datetime': '2019-01-18', 'moonphase': 0.45},
 {'datetime': '2019-01-19', 'moonphase': 0.48},
 {'datetime': '2019-01-20', 'moonphase': 0.5},
 {'datetime': '2019-01-21', 'moonphase': 0.5},
 {'datetime': '2019-01-22', 'moonphase': 0.52},
 {'datetime': '2019-01-23', 'moonphase': 0.54},
 {'datetime': '2019-01-24', 'moonphase': 0.58},
 {'datetime': '2019-01-25', 'moonphase': 0.63},
 {'datetime': '2019-01-26', 'moonphase': 0.68},
 {'datetime': '2019-01-27', 'moonphase': 0.73},
 {'datetime': '2019-01-28', 'moonphase': 0.79},
 {'datetime': '2019-01-29', 'moonphase': 0.84},
 {'datetime': '2019-01-30', 'moonphase': 0.88},
 {'datetime': '2019-01-31', 'moonphase': 0.92},
 {'datetime': '2019-02-01', 'moonphase': 0.95},
 {'datetime': '2019-02-02', 'moonphase': 0.98},
 {'datetime': '2019-02-03', 'moonphase': 1.0},
 {'datetime': '2019-02-04', 'moonphase': 1.0},
 {'datetime': '2019-02-05', 'moonphase': 0.0},
 {'datetime': '2019-02-06', 'moonphase': 0.01},
 {'datetime': '2019-02-07', 'moonphase': 0.03},
 {'datetime': '2019-02-08', 'moonphase': 0.06},
 {'datetime': '2019-02-09', 'moonphase': 0.09},
 {'datetime': '2019-02-10', 'moonphase': 0.13},
 {'datetime': '2019-02-11', 'moonphase': 0.18},
 {'datetime': '2019-02-12', 'moonphase': 0.23},
 {'datetime': '2019-02-13', 'moonphase': 0.28},
 {'datetime': '2019-02-14', 'moonphase': 0.33},
 {'datetime': '2019-02-15', 'moonphase': 0.38},
 {'datetime': '2019-02-16', 'moonphase': 0.43},
 {'datetime': '2019-02-17', 'moonphase': 0.47},
 {'datetime': '2019-02-18', 'moonphase': 0.49},
 {'datetime': '2019-02-19', 'moonphase': 0.5},
 {'datetime': '2019-02-20', 'moonphase': 0.51},
 {'datetime': '2019-02-21', 'moonphase': 0.53},
 {'datetime': '2019-02-22', 'moonphase': 0.56},

In [14]:
moonphases_df.dtypes

datetime      object
moonphase    float64
dtype: object

In [15]:
bins = [.0 , .25 , .50 , .75, 1 ]

In [16]:
moonphases_df['moonPhases_cat'] = pd.cut(moonphases_df['moonphase'], bins)

In [17]:
moonphases_df

        datetime  moonphase moonPhases_cat
0     2018-01-01       0.50    (0.25, 0.5]
1     2018-01-02       0.50    (0.25, 0.5]
2     2018-01-03       0.52    (0.5, 0.75]
3     2018-01-04       0.54    (0.5, 0.75]
4     2018-01-05       0.58    (0.5, 0.75]
...          ...        ...            ...
1456  2021-12-27       0.78    (0.75, 1.0]
1457  2021-12-28       0.83    (0.75, 1.0]
1458  2021-12-29       0.88    (0.75, 1.0]
1459  2021-12-30       0.93    (0.75, 1.0]
1460  2021-12-31       0.97    (0.75, 1.0]

[1461 rows x 3 columns]

In [18]:
# Labels = 1 = New Moon , 2 = Full Moon, 3 Third Quarter =  4 = back to new moon

labels =[1,2,3,4]

moonphases_df['moonPhases'] = pd.cut(moonphases_df['moonphase'], bins,labels=labels)
print (moonphases_df)

        datetime  moonphase moonPhases_cat moonPhases
0     2018-01-01       0.50    (0.25, 0.5]          2
1     2018-01-02       0.50    (0.25, 0.5]          2
2     2018-01-03       0.52    (0.5, 0.75]          3
3     2018-01-04       0.54    (0.5, 0.75]          3
4     2018-01-05       0.58    (0.5, 0.75]          3
...          ...        ...            ...        ...
1456  2021-12-27       0.78    (0.75, 1.0]          4
1457  2021-12-28       0.83    (0.75, 1.0]          4
1458  2021-12-29       0.88    (0.75, 1.0]          4
1459  2021-12-30       0.93    (0.75, 1.0]          4
1460  2021-12-31       0.97    (0.75, 1.0]          4

[1461 rows x 4 columns]

In [19]:
moonphases_df

        datetime  moonphase moonPhases_cat moonPhases
0     2018-01-01       0.50    (0.25, 0.5]          2
1     2018-01-02       0.50    (0.25, 0.5]          2
2     2018-01-03       0.52    (0.5, 0.75]          3
3     2018-01-04       0.54    (0.5, 0.75]          3
4     2018-01-05       0.58    (0.5, 0.75]          3
...          ...        ...            ...        ...
1456  2021-12-27       0.78    (0.75, 1.0]          4
1457  2021-12-28       0.83    (0.75, 1.0]          4
1458  2021-12-29       0.88    (0.75, 1.0]          4
1459  2021-12-30       0.93    (0.75, 1.0]          4
1460  2021-12-31       0.97    (0.75, 1.0]          4

[1461 rows x 4 columns]

In [20]:
new_moonphasesdf = moonphases_df[['datetime','moonPhases']]
new_moonphasesdf

        datetime moonPhases
0     2018-01-01          2
1     2018-01-02          2
2     2018-01-03          3
3     2018-01-04          3
4     2018-01-05          3
...          ...        ...
1456  2021-12-27          4
1457  2021-12-28          4
1458  2021-12-29          4
1459  2021-12-30          4
1460  2021-12-31          4

[1461 rows x 2 columns]

In [21]:
new_moonphasesdf.rename(columns={'datetime': 'Date'}, inplace=True)
new_moonphasesdf.head()

         Date moonPhases
0  2018-01-01          2
1  2018-01-02          2
2  2018-01-03          3
3  2018-01-04          3
4  2018-01-05          3

In [22]:
new_moonphasesdf['Date'] = pd.to_datetime(new_moonphasesdf.Date, format='%Y-%m-%d')

In [23]:
new_moonphasesdf['Date'] = pd.to_datetime(new_moonphasesdf['Date']).dt.date

In [24]:
new_moonphasesdf

            Date moonPhases
0     2018-01-01          2
1     2018-01-02          2
2     2018-01-03          3
3     2018-01-04          3
4     2018-01-05          3
...          ...        ...
1456  2021-12-27          4
1457  2021-12-28          4
1458  2021-12-29          4
1459  2021-12-30          4
1460  2021-12-31          4

[1461 rows x 2 columns]

In [25]:
df.columns

Index(['ID', 'CFS', 'CFS_Type', 'Classification', 'Date', 'offenseHour',
       'offenseDOW', 'reportDate', 'reportHour', 'reportDOW', 'city', 'state',
       'address', 'latitude', 'longitude', 'location', 'date ', 'month', 'day',
       'year', 'fullDate', 'DOW', 'time ', 'moonPhase'],
      dtype='object')

In [26]:
#Find out unique names of CFS, CFS_type, and moonPhase

In [27]:
df.Classification.unique()

array(['Person', 'Other ', 'Property', 'Government'], dtype=object)

In [28]:
df.CFS.unique()

array(['Domestic Aggravated Battery', 'Domestic Simple Battery',
       'Trespass Warning', 'Dating Violence Simple Battery',
       'Domestic Disturbance', 'Burglary to Residence', 'Fire',
       'Theft Grand - Retail', 'Driving Under the Influence',
       'Death Investigation', 'Robbery (armed)', 'Theft Petit - Other',
       'Weapons Violation (possessing/concealing)',
       'Drug Poss. of Controlled Substance', 'Damage to Property',
       'Robbery (strong Arm)', 'Theft Petit - Retail',
       'Suspicious Incident', 'Domestic Violence Injunction Violation',
       'Stolen Vehicle (auto)', 'Trespass', 'Burglary to Conveyance',
       'Loitering and Prowling', 'Stolen Vehicle (motorcycle)',
       'Identity Theft', 'Disturbance',
       'Fraud (obtain Money/property by False Pretense)',
       'Battery (simple)', 'Violation of Temporary Injunction',
       'Criminal Mischief (misdemeanor)', 'Robbery',
       'Domestic Battery by Strangulation', 'Making False 911 Call',
       'Fraud (credit Card/atm)', 'Found Property', 'Disorderly Conduct',
       'Traffic Offense (all Other)', 'Battery (aggravated)',
       'Burglary to Business', 'Stolen Vehicle (other)',
       'Disturbance Civil', 'Fraud (forgery)', 'Sick / Injured Person',
       'Theft Petit - From Building', 'Battery (felony)', 'Arson',
       'Theft Grand - Other', 'Harassing/ Obscene Calls',
       'Theft Petit - Bicycle', 'Affray',
       'Assault (police Officer Aggravated)', 'Drug Equip/paraphernalia',
       'Criminal Mischief (felony)', 'Drug Violation (using)',
       'Computer Crimes', 'Domestic Aggravated Assualt',
       'Juvenile Problem / Disturbance', 'Fraud (all Other)',
       'Drug Violation', 'Assault (aggravated)',
       'Battery (police Officer)', 'Robbery by Sudden Snatching',
       'Battery (security Guard/officer)', 'Drug Violation (selling)',
       'Exposure of Sexual Organs / Indecent Exposure',
       'Driving While License Suspended/revoked', 'Fraud (impersonation)',
       'Animal Attack', 'Missing Person', 'Robbery (carjacking)',
       'Damage to City Property', 'Drug Violation (sid)',
       'Violation of Pretrial Release', 'Homicide',
       'Resist/obstructing Without Violence',
       'Flee/attempt to Elude Police Officer',
       'Discharge Firearm in Public',
       'Stolen Property (buying/receiving)',
       'Theft Grand - From Building', 'Domestic Assault', 'Harassment',
       'Runaway', 'Animal Cruelty', 'Robbery (home Invasion)',
       'Escaped Prisoner', 'Counterfeiting',
       'Battery on a Person 65 Yoa or Older',
       'Theft Petit - Purse Snatching', 'Tampering With Evidence',
       'Theft Grand - From Vehicle (vehicle Parts)',
       'Domestic Felony Battery Repeat Offender',
       'Dating Violence Aggravated Battery',
       'Resisting Merchant Detainment',
       'Theft Petit - From Vehicle/not Parts',
       'Theft Grand - Pocket-picking', 'Assault (simple)',
       'Cyber Stalking', 'Dating Violence Felony Battery',
       'Resist/obstructing With Violence', 'Animal Problem',
       'Indecent Exposure', 'Weapons Violation', 'Stalking (simple)',
       'Battery on a Emergency Medicalcare Provider',
       'Uttering Forged Instruments',
       'Theft Petit - From Vending Machine', 'Fraud (worthless Check)',
       'Stalking (aggravated)', 'Violation of Probation',
       'Exploitation of the Elderly/disabled',
       'Theft Petit - From Vehicle (vehicle Parts)',
       'Utter Forged/counterfeit Bill',
       'Battery on a School Board Employee',
       'Sex Offender/predator Violation <48 Hrs',
       'Possession of Child Pornography', 'Verbal Threats',
       'Theft Grand - From Vehicle (not Parts)',
       'Dating Violence Aggravated Stalking',
       'Written Threat to Kill or Injure', 'Theft Grand - Bicycle',
       'Burglary to a Structure',
       'Stolen Property (selling/distributing)', 'Stolen Vehicle (truck)',
       'Bomb Threat', 'Disorderly Intoxication',
       'Violation of Permanent Injunction',
       'Dating Violence Injunction Violation', 'Extortion/threats',
       'Theft Petit - Trailer', 'Trash Dumping', 'Theft Grand - Trailer',
       'Crimes Against the Elderly', 'Theft Petit - Pocket-picking',
       'Poss. of Alcohol Under 21 Yoa',
       'Dating Violence Aggravated Assault', 'False Info to Leo',
       'Filing False Police Report', 'False Imprisonment(kidnap)',
       'Threatening Phone Calls', 'Baker Act', 'Stolen Vehicle (scooter)',
       'Luring or Enticing a Child', 'Sexual Battery', 'Child Neglect',
       'Marchman Act', 'Armed Burglary of a Dwelling or Structure',
       'Threats', 'Dating Violence False Imprisonment',
       'Theft Grand -firearm',
       'Lewd or Lascivious Exhibition Offender 18', 'Overdose', 'Suicide',
       'Fraud (embezzlement)', 'Disruption of School Function',
       'Violation of Probation - Juvenile',
       'Stolen Property (possession/conceal)', 'Driving With No License',
       'Vehicle Not Registered', 'Hit & Run', 'Reckless Driving',
       'Noise Complaint', 'City Ordinance Violation',
       'Drug Violation (buying)', 'Tamper W/victim Witness',
       'Molestation of Vending Machine', 'Aircraft Incident',
       'Violation of Home Detention - Juvenile',
       'Stalking - Vio. of Court Order',
       'Dating Violence Simple Stalking',
       'Theft Grand - From Vending Machine',
       'Presenting Dl of Another as Own', 'Money Laundering',
       'Unauthorized Poss Manuf Fl Dl',
       'Possession of Less Than 20g of Cannabis',
       'Battery (police Officer Aggravated)',
       'False Info on Pawn Transaction Form', 'Gambling',
       'Open House Party', 'False Alarms of Fires First Offense',
       'Prostitution', 'Career Offender Violation', 'Panhandling',
       'Fraud (welfare)', 'All Other Liquor Law Viol.',
       'Battery (security Guard/officer Aggravated)', 'Criminal Mischief',
       'Theft Grand - Purse Snatching', 'Falsely Personating Officer',
       'Gas Drive Off'], dtype=object)

In [29]:
df.CFS_Type.unique()

array(['Battery', 'Quality of Life', 'Theft', 'Other', 'Alcohol',
       'Death Inv/Homicide', 'Gov Reg Vio', 'Drugs', 'Fraud', 'Assault',
       'Suicide'], dtype=object)

In [30]:
df.moonPhase.unique()

array([nan, 'Full Moon ', 'First Quarter', 'New  Moon ', 'Third Quarter'],
      dtype=object)

In [31]:
# Assign the uncessary columns to variable and drop

unused_cols = ['CFS','reportDate', 'offenseHour','reportHour','reportDOW','city','state','address','longitude','latitude','day','location','date ','month','year', 'moonPhase']

df = df.drop(unused_cols, axis = 1)

df.head(50)

,ID,CFS_Type,Classification,Date,offenseDOW,fullDate,DOW,time
0,221009267,Battery,Person,2021-07-04,Sunday,NaN,NaN,NaN
1,221009608,Battery,Person,2021-07-11,Sunday,NaN,NaN,NaN
2,221009391,Battery,Person,2021-07-07,Wednesday,NaN,NaN,NaN
3,221009308,Battery,Person,2021-07-06,Tuesday,NaN,NaN,NaN
4,221011388,Battery,Person,2021-08-16,Monday,NaN,NaN,NaN
5,221011524,Battery,Person,2021-08-19,Thursday,NaN,NaN,NaN
6,221012057,Battery,Person,2021-08-28,Saturday,NaN,NaN,NaN
7,221012231,Battery,Person,2021-08-31,Tuesday,NaN,NaN,NaN
8,221012341,Battery,Person,2021-09-02,Thursday,NaN,NaN,NaN
9,221013249,Battery,Person,2021-09-19,Sunday,NaN,NaN,NaN
10,221014033,Battery,Person,2021-10-02,Saturday,NaN,NaN,NaN
11,221014308,Battery,Person,2021-10-07,Thursday,NaN,NaN,NaN
12,221014905,Battery,Person,2021-10-18,Monday,NaN,NaN,NaN
13,221015541,Battery,Person,2021-10-30,Saturday,NaN,NaN,NaN
14,221015627,Battery,Person,2021-11-01,Monday,NaN,NaN,NaN
15,221015394,Battery,Person,2021-10-27,Wednesday,NaN,NaN,NaN
16,221016364,Battery,Person,2021-11-14,Sunday,NaN,NaN,NaN
17,221016505,Battery,Person,2021-11-17,Wednesday,NaN,NaN,NaN
18,221017434,Battery,Person,2021-12-04,Saturday,NaN,NaN,NaN
19,221017379,Battery,Person,2021-12-03,Friday,NaN,NaN,NaN
20,221017317,Battery,Person,2021-12-02,Thursday,NaN,NaN,NaN
21,221018378,Battery,Person,2021-12-22,Wednesday,NaN,NaN,NaN
22,219009416,Battery,Person,2019-06-08,Saturday,NaN,NaN,NaN
23,220018564,Battery,Person,2020-12-29,Tuesday,NaN,NaN,NaN
24,219021546,Battery,Person,2019-12-30,Monday,NaN,NaN,NaN
25,220006659,Battery,Person,2020-05-18,Monday,NaN,NaN,NaN
26,220003226,Battery,Person,2020-02-26,Wednesday,NaN,NaN,NaN
27,221005161,Battery,Person,2021-04-14,Wednesday,NaN,NaN,NaN
28,221005746,Battery,Person,2021-04-26,Monday,NaN,NaN,NaN
29,220005261,Battery,Person,2020-04-12,Sunday,NaN,NaN,NaN
30,221001962,Battery,Person,2021-02-11,Thursday,NaN,NaN,NaN
31,220018102,Battery,Person,2020-07-05,Sunday,NaN,NaN,NaN
32,220010783,Battery,Person,2020-08-05,Wednesday,NaN,NaN,NaN
33,220004295,Battery,Person,2020-03-16,Monday,NaN,NaN,NaN
34,220011788,Battery,Person,2020-08-24,Monday,NaN,NaN,NaN
35,220011288,Battery,Person,2020-08-14,Friday,NaN,NaN,NaN
36,221000718,Battery,Person,2021-01-15,Friday,NaN,NaN,NaN
37,220014433,Battery,Person,2020-10-11,Sunday,NaN,NaN,NaN
38,219010229,Battery,Person,2019-06-21,Friday,NaN,NaN,NaN
39,220018304,Battery,Person,2020-12-22,Tuesday,NaN,NaN,NaN
40,220008878,Battery,Person,2020-06-29,Monday,NaN,NaN,NaN
41,221001778,Battery,Person,2021-02-07,Sunday,NaN,NaN,NaN
42,220012564,Battery,Person,2020-09-07,Monday,NaN,NaN,NaN
43,220017231,Battery,Person,2020-12-02,Wednesday,NaN,NaN,NaN
44,220009837,Battery,Person,2020-07-18,Saturday,NaN,NaN,NaN
45,220000879,Battery,Person,2020-01-16,Thursday,NaN,NaN,NaN
46,220003604,Battery,Person,2020-03-04,Wednesday,NaN,NaN,NaN
47,220004536,Battery,Person,2020-03-22,Sunday,NaN,NaN,NaN
48,220004373,Battery,Person,2020-03-17,Tuesday,NaN,NaN,NaN
49,221006878,Battery,Person,2021-05-18,Tuesday,NaN,NaN,NaN

In [32]:
# Gather CFS_Type and moonPhase columns for get dummies

convert_cols = df["CFS_Type"]
convert_cols

0            Battery
1            Battery
2            Battery
3            Battery
4            Battery
            ...
44868        Battery
44869          Other
44870          Theft
44871    Gov Reg Vio
44872          Theft
Name: CFS_Type, Length: 44873, dtype: object

In [33]:
# Convert CFS_Type and moonPhase with get dummies in dataframe

new_columns_df = pd.get_dummies(df['CFS_Type'])
new_columns_df

,Alcohol,Assault,Battery,Death Inv/Homicide,Drugs,Fraud,Gov Reg Vio,Other,Quality of Life,Suicide,Theft
0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
44868,0,0,1,0,0,0,0,0,0,0,0
44869,0,0,0,0,0,0,0,1,0,0,0
44870,0,0,0,0,0,0,0,0,0,0,1
44871,0,0,0,0,0,0,1,0,0,0,0
44872,0,0,0,0,0,0,0,0,0,0,1

In [34]:
# Go back and take out the original CFS_Type columns and moonPhase  in the original df

df = df.drop(['CFS_Type'], axis = 1)

In [35]:
new_df = pd.merge(df,new_columns_df, left_index=True, right_index = True )
new_df

,ID,Classification,Date,offenseDOW,fullDate,DOW,time,Alcohol,Assault,Battery,Death Inv/Homicide,Drugs,Fraud,Gov Reg Vio,Other,Quality of Life,Suicide,Theft
0,221009267,Person,2021-07-04,Sunday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
1,221009608,Person,2021-07-11,Sunday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
2,221009391,Person,2021-07-07,Wednesday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
3,221009308,Person,2021-07-06,Tuesday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
4,221011388,Person,2021-08-16,Monday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44868,219004357,Person,2019-03-14,Thursday,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0
44869,218014815,Property,2018-08-15,Wednesday,NaN,NaN,NaN,0,0,0,0,0,0,0,1,0,0,0
44870,218019557,Property,2018-10-23,Tuesday,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1
44871,218017216,Government,2018-09-18,Tuesday,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0,0,0
44872,218011979,Property,2018-07-01,Sunday,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,1

In [36]:
# Join the new_moonphasesdf to df on datetime 

dfcomplete = pd.merge(new_df,new_moonphasesdf, left_on = "Date", right_on = 'Date')
dfcomplete.head

<bound method NDFrame.head of               ID Classification        Date offenseDOW fullDate  DOW time   \
0      221009267         Person  2021-07-04     Sunday      NaN  NaN   NaN
1      221009266         Person  2021-07-04     Sunday      NaN  NaN   NaN
2      221009262         Person  2021-07-04     Sunday      NaN  NaN   NaN
3      221009243         Person  2021-07-04     Sunday      NaN  NaN   NaN
4      221009236         Person  2021-07-04     Sunday      NaN  NaN   NaN
...          ...            ...         ...        ...      ...  ...   ...
44868  221010748       Property  2021-07-28  Wednesday      NaN  NaN   NaN
44869  221012007         Other   2021-07-28  Wednesday      NaN  NaN   NaN
44870  221010745       Property  2021-07-27    Tuesday      NaN  NaN   NaN
44871  221013954         Other   2021-07-27    Tuesday      NaN  NaN   NaN
44872  221013953         Other   2021-07-27    Tuesday      NaN  NaN   NaN

       Alcohol  Assault  Battery  Death Inv/Homicide  Drugs  Fraud  \
0            0        0        1                   0      0      0
1            0        0        1                   0      0      0
2            0        0        1                   0      0      0
3            0        0        1                   0      0      0
4            0        0        1                   0      0      0
...        ...      ...      ...                 ...    ...    ...
44868        0        0        0                   0      0      0
44869        0        0        0                   0      0      0
44870        0        0        0                   0      0      0
44871        0        0        0                   0      0      0
44872        0        0        0                   0      0      0

       Gov Reg Vio  Other  Quality of Life  Suicide  Theft moonPhases
0                0      0                0        0      0          4
1                0      0                0        0      0          4
2                0      0                0        0      0          4
3                0      0                0        0      0          4
4                0      0                0        0      0          4
...            ...    ...              ...      ...    ...        ...
44868            0      0                0        0      1          3
44869            0      1                0        0      0          3
44870            0      0                0        0      1          3
44871            0      1                0        0      0          3
44872            0      1                0        0      0          3

[44873 rows x 19 columns]>

In [37]:
y = pd.get_dummies(new_df['Classification'])


X = dfcomplete[['Battery', 'Quality of Life', 'Theft', 'Other', 'Alcohol',
       'Death Inv/Homicide', 'Gov Reg Vio', 'Drugs', 'Fraud', 'Assault',
       'Suicide','moonPhases']]

In [38]:
y.value_counts()

Government  Other   Person  Property
0           0       0       1           25223
                    1       0           11705
            1       0       0            4520
1           0       0       0            3425
dtype: int64

In [39]:
X.describe()

,Battery,Quality of Life,Theft,Other,Alcohol,Death Inv/Homicide,Gov Reg Vio,Drugs,Fraud,Assault,Suicide
count,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000,44873.000000
mean,0.123237,0.209948,0.390770,0.108551,0.007867,0.013438,0.026319,0.041785,0.057585,0.020480,0.000022
std,0.328712,0.407276,0.487928,0.311078,0.088346,0.115142,0.160083,0.200099,0.232959,0.141637,0.004721
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
X.shape

(44873, 12)

In [41]:
y.shape

(44873, 4)

In [42]:
# You can modify test_size to account for 30% testing/70% training
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .5)

In [43]:
# Resample the training data with the RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

In [44]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [45]:
y_pred = clf.predict(X_test)

In [46]:
# https://scikit-learn.org/stable/modules/multiclass.html

In [47]:
from sklearn import metrics

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5478450773276284

In [48]:
#Confusion Matrix

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))
print(cm)

[[   67     0     0  1629]
 [  113     0     4  2153]
 [  222     0     7  5555]
 [  384     0    18 12285]]

In [49]:
# Print the  classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00      1696
           1       0.00      0.00      0.00      2270
           2       0.24      0.00      0.00      5784
           3       0.57      0.97      0.72     12687

   micro avg       0.57      0.55      0.56     22437
   macro avg       0.20      0.24      0.18     22437
weighted avg       0.38      0.55      0.41     22437
 samples avg       0.55      0.55      0.55     22437

In [50]:
# MODULE DIRECTIONS FOR CONFUSION MATRIX

# Display the confusion matrix
#cm = confusion_matrix(y_test, y_pred)
#cm_df = pd.DataFrame(
    #cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
#cm_df

In [51]:
# We need data with every single moon phase attached to each event to have a better data set. The outputs from the classification report tell you that because its getting 1.00 precision on 3/4 data points because theres only 8 moon phases for 40k events.